body, html {
    height: 100%;
    background-color: rgb(25, 25, 25);
}

header {
    margin: 10px;
    top: 8%;
    text-align: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("https://w.forfun.com/fetch/b8/b8961521ef4b968c5c4ee19f7daefcee.jpeg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(235, 233, 231);
}

#artist-search {
    color:black;
    justify-content: center;
    width: 110%;
    position:fixed;
    margin-top: 50px;
}

#artist-search-form {
    top: 50%;
    padding: 3px;
    margin: 10px;
}

#artist-search-btn {
    margin: 10px 0 0 0;
    background-color: rgb(225, 141, 24);
    color: white;
}

#artist-search-btn:hover {
    transform: scale(1.1);
    background-color: rgb(91, 161, 242);
    color: white;
}

#artist-selection{
    background-color: white;
    margin:0;
}

.tile-img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    margin: 2px;
}

.artist-name {
    text-decoration: none;
}

.hover-effect {
    transition: transform 0.3s;
  }
  
.hover-effect:hover {
    transform: scale(0.9);
}
