/* Styling the searchpage.html columns and tiles*/
.column.side {
    width: 25%;
}
.column.main {
    width:75%
}

#similarArtists {
    display: flex;
    text-align: center;
}
.artistTile {
    margin-right: 15px
}

.header-picture {
    border-radius: 50%;
}

.artist-tile {
    border-radius: 50%;
}

.similar-artist-img:hover {
    filter: brightness(50%);
}

.tour-date-el {
    list-style-type: none;
}
