body {
    background-color: #260d1a;
}

/* Styling the searchpage.html columns and tiles*/
.column.side {
    width: 25%;
}
.column.main {
    width:75%
}

#similarArtists {
    display: flex;
    text-align: center;
}
.artistTile {
    margin-right: 15px
}

#search-input, #userSearchInput{
    text-transform: uppercase;
}
